.return{
    text-align: center;
    text-decoration: dotted;
    font-size: 30;
    color:blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}