a:hover{
    background-color:rgba(0, 0, 0, 0.527);
    font-size:40;
}
.return{
    text-align: center;
    text-decoration: dotted;
    font-size: 30;
    color:wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#adress{
    font-size: 40;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    border:30px black;
    text-align: center;
    background-image:radial-gradient(rgba(255, 115, 0, 0.568),red)
}
#iduuno{
    font-size:3;
}
#content{
    margin:10px;
    padding:10px;
    border:solid 5px;
    background-color:red;
    text-align: center;
}
