a:hover{
    background-color:rgba(0, 0, 0, 0.527);
    font-size:40;
}
.poundtown{
    margin:10px;
    padding:10px;
    border:solid 5px rgb(0, 0, 0);
  background-color: rgba(133, 12, 12, 0.829);
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}