a:hover{
    background-color:rgba(0, 0, 0, 0.527);
    font-size:40;
}
.content{
    margin:10px;
    padding:10px;
    border:solid 5px wheat;
    background-image: url(https://img.wattpad.com/83411ab7582dedd1874125376894deca9bbbcdb2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4a754d596e4e78654d396c666e773d3d2d313031303735333932382e313635613364303163666538383936623332383635343039323431322e676966);
    background-size:cover;
    color:white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}