a:hover{
    background-color:rgba(0, 0, 0, 0.527);
    font-size:40;
}
.content{
    margin:10px;
    padding:10px;
    border:solid 5px wheat;
    background-image: url(https://i.pinimg.com/originals/02/79/e6/0279e6b012ba6fe706d26a96b14534c5.gif);
    background-size:cover;
    color:white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}